VITE_GISCUS_REPO=soft-zihan/soft-zihan.github.io
VITE_GISCUS_REPO_ID=R_kgDOQ1b8-A
VITE_GISCUS_CATEGORY=Announcements
VITE_GISCUS_CATEGORY_ID=DIC_kwDOQ1b8-M4C1Ezk
VITE_UMAMI_WEBSITE_ID=
VITE_UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
VITE_UMAMI_BASE_URL=https://cloud.umami.is
VITE_UMAMI_SHARE_ID=
VITE_UMAMI_TIMEZONE=Asia/Shanghai
VITE_BAIDU_IMAGE_API_KEY=your_baidu_api_key_here
VITE_BILI_PROXY_BASE_URL=
VITE_WALLHAVEN_BASE_URL=
